services:
  - type: web
    name: systempresas
    env: static
    buildCommand: ""
    staticPublishPath: ./
    headers:
      - path: /*
        name: Access-Control-Allow-Origin
        value: "*"
      - path: /*
        name: Access-Control-Allow-Methods
        value: "GET, POST, PUT, DELETE, OPTIONS"
      - path: /*
        name: Access-Control-Allow-Headers
        value: "Content-Type, Authorization"
      - path: /*
        name: Service-Worker-Allowed
        value: "/"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
